<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/098c10e768.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/styles-ingredients.css'%}" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Cuprum&display=swap" rel="stylesheet">
    <title>Кулинария</title>
</head>
<body>
<header>
        <nav class="dvs-menu">
            <ul>
                {% if ingredient_list|length > 1 %}
                <li><a href="/recipes/newingredient" title="Новый ингридиент"><i class="fas fa-plus"></i></a></li>
                {% for ingredient in ingredient_list %}
                <li><a href="/recipes/ingredients/{{ ingredient.id }}">{{ ingredient.name }}</a></li>
                {% endfor %}
                {% else %}
                {% for ingredient in ingredient_list %}
                <li><a href="">{{ ingredient.name }}</a></li>
                <br>
                <li><a href="">калорийность на 100 гр. - {{ ingredient.calories_per_100_gr }} ккал.</a></li>
                <br>
                <li><a href="">белки на 100 гр. - {{ ingredient.protein_per_100_gr }} гр.</a></li>
                <br>
                <li><a href="">жиры на 100 гр. - {{ ingredient.fat_per_100_gr }} гр.</a></li>
                <br>
                <li><a href="">углеводы на 100 гр. - {{ ingredient.carbohydrates_per_100_gr }} гр.</a></li>
                {% endfor %}
                {% endif %}
            </ul>
</header>

</body>
</html>