<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/098c10e768.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/styles-ingredients.css'%}" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Cuprum&display=swap" rel="stylesheet">
    <title>Кулинария</title>
</head>
<body>
<header>
        <nav class="dvs-menu">
            <ul>
                {% for ingredient in ingridients %}
                <li><a href="/recipes/ingredients/{{ ingredient.id }}">{{ ingredient.name }}</a></li>
                {% endfor %}
                <li><a href="/recipes/newingredient" title="Новый ингридиент"><i class="fas fa-plus"></i></a></li>
            </ul></nav>
</header>

<nav class="detalisation">
    <ul>
        {% for ingredient in ingridients %}
        {% if ingredient.id == ing_id %}
        {{ ingredient.name }}
        {% endif %}
        {% endfor %}
    </ul>
</nav>


</body>
</html>