<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/098c10e768.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/styles-ingredients.css'%}" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Cuprum&display=swap" rel="stylesheet">
    <title>Кулинария</title>
</head>
<body>
<header>
        <nav class="dvs-menu">
            <ul>
                {% if menu_list|length > 1 %}
                <li><a href="/recipes/newmenu" title="Новый рецепт"><i class="fas fa-plus"></i></a></li>
                {% for menu in menu_list %}
                <li><a href="/recipes/menu/{{ menu.id }}">{{ menu.data }}</a></li>
                {% endfor %}
                {% else %}
                {% for menu in menu_list %}
                <li><a href="">Приемы пищи - <br/>{% for area in menu.eatings.all %}{{ area }}<br/>{% endfor %} </a></li>
                <br>
                <li><a href="">Дата - {{ menu.data }} гр.</a></li>
                <br>
                {% endfor %}
                {% endif %}
            </ul>
        </nav>
</header>

</body>
</html>

